@{
    ViewData["Title"] = "Home Page";
}
@model RandomWeb.Models.ImageModel;

@section Styles {
    <link rel="stylesheet" href="~/css/home-index.css" />
}

<input type="text" id="ogImageWidth" value="@Model.Width" style="display:none;" />
<input type="text" id="ogImageHeight" value="@Model.Height" style="display:none;" />
<input type="text" id="rotVal" value="@Model.Rotate" style="display:none;" />
<input type="text" id="leftVal" value="@Model.LeftCrop" style="display:none;" />
<input type="text" id="bottomVal" value="@Model.BottomCrop" style="display:none;" />
<input type="text" id="topVal" value="@Model.TopCrop" style="display:none;" />
<input type="text" id="rot2Val" value="@Model.Rotate2" style="display:none;" />
<input type="text" id="rightVal" value="@Model.RightCrop" style="display:none;" />
<input type="text" id="imageId" value="@Model.Image" style="display:none;" />

    <div class="row">
        <div class="col-lg-7 col-sm-12">
            <div class="row">
                <div class="col-12">
                    <span class="btn" onclick="setRotation(0)" title="0">0</span>
                    <span class="btn" onclick="setRotation(90)" title="90">90</span>
                    <span class="btn" onclick="setRotation(180)" title="180">180</span>
                    <span class="btn" onclick="setRotation(270)" title="270">270</span>
                    <button id="btnSaveCrop" type="submit">Save</button>
                    <a href="/home/image/@Model.Image" id="fullsizelink" target="_blank">full size</a>
                    <a href="/home/image/@Model.Image" id="originallink" target="_blank">original</a>
                </div>
                <div class="col-12">
                    <label class="col-form-label" for="rotationSlider">Angle Correction</label>
                    <input id="rotationSlider" data-slider-id='rotationSlider' type="text" />
                </div>
                <div class="col-12">
                    <label class="col-form-label" for="rightSlider">Crop Right</label>
                    <input id="rightSlider" data-slider-id='rightSlider' type="text" />
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-2">
                            <input id="topSlider" data-slider-id='topSlider' type="text" />
                            <label class="col-form-label" for="topSlider">Crop Top</label>

                        </div>
                        <div class="col-8">
                            <img id="theimage" src="home/image/@Model.Image" />
                        </div>
                        <div class="col-2">
                            <label class="col-form-label" for="bottomSlider">Crop Bottom</label>
                            <input id="bottomSlider" data-slider-id='bottomSlider' type="text" />
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <label class="col-form-label" for="leftSlider">Crop Left</label>
                    <input id="leftSlider" data-slider-id='leftSlider' type="text" />
                </div>
            </div>

            <img id="thethumb" src="/home/image/@Model.Image" />
        </div>
        <div class="col-lg-5 col-sm-12">
            <div class="row">
                <div class="col-4">
                    <img id="prevthumb" src="/home/imagethumb/@Model.ImagePrev" />
                    <a href="@Url.Content("~/home/index/")@Model.ImagePrev" id="link" target="_blank">link</a>
                </div>
                <div class="col-4">
                    <img id="thisthumb" src="/home/imagethumb/@Model.Image" />
                    <a href="@Url.Content("~/home/index/")@Model.Image" id="link" target="_blank">link</a>
                </div>
                <div class="col-4">
                    <img id="nextthumb" src="/home/imagethumb/@Model.ImageNext" />
                    <a href="@Url.Content("~/home/index/")@Model.ImageNext" id="link" target="_blank">link</a>
                </div>
            </div>
                <div class="row">
                    <div class="col-3">
                        <label>Who/What</label>
                        <button id="whoWhatUpdate">Update</button>
                    </div>
                    <div class="col-9">
                        <textarea cols="50" rows="3" id="WhoWhat">@Model.WhoWhat</textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <label>When</label>
                        <button id="whenUpdate">Update</button>
                    </div>
                    <div class="col-9">
                        <textarea cols="50" rows="3" id="When">@Model.When</textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <label>Where</label>
                        <button id="whereUpdate">Update</button>
                    </div>
                    <div class="col-9">
                        <textarea cols="50" rows="3" id="Where">@Model.Where</textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <label>Comments</label>
                        <button id="whyHowUpdate">Update</button>
                    </div>
                    <div class="col-9">
                        <textarea cols="50" rows="3" id="WhyHow">@Model.WhyHow</textarea>
                    </div>
                </div>
                <ul>
                    <li>@Model.Path</li>
                    <li>FileCreationDateTime:@Model.FileDateTime;</li>
                    <li>ExifDateTime:@Model.ExifDateTime;</li>
                    <li>Width:@Model.Width;</li>
                    <li>Height:@Model.Height;</li>
                    <li>ISOSpeedRatings:@Model.ISOSpeedRatings;</li>
                    <li>PixelXDimension:@Model.PixelXDimension;</li>
                    <li>PixelYDimension:@Model.PixelYDimension;</li>
                    <li>GPSAltitude:@Model.GPSAltitude;</li>
                    <li>GPSLatitude:@Model.GPSLatitude;</li>
                    <li>GPSLongitude:@Model.GPSLongitude;</li>
                </ul>
            </div>
        </div>

@section Scripts {
    <script src="~/js/home-index.js" asp-append-version="true"></script>
}