@{
    ViewData["Title"] = "Home Page";
}
@model PhotoArchive.Domain.ImageMetaData;

@section Styles {
    <link rel="stylesheet" href="~/css/home-index.css" />
}

<input id="ogImageWidth" value="@Model.Width" style="display:none;" />
<input id="ogImageHeight" value="@Model.Height" style="display:none;" />
<input id="rotVal" value="@Model.Rotate" style="display:none;" />
<input id="leftVal" value="@Model.LeftCrop" style="display:none;" />
<input id="bottomVal" value="@Model.BottomCrop" style="display:none;" />
<input id="topVal" value="@Model.TopCrop" style="display:none;" />
<input id="rot2Val" value="@Model.Rotate2" style="display:none;" />
<input id="rightVal" value="@Model.RightCrop" style="display:none;" />
<input id="imageId" type="text" value="@Model.Image" style="display:none;" />

<form id="imgform">
    <div class="row">
        <div class="col-lg-7 col-sm-12">
            <div class="row">
                <div class="col-12">
                    <span class="btn" onclick="setRotation(0)" title="0">0</span>
                    <span class="btn" onclick="setRotation(90)" title="90">90</span>
                    <span class="btn" onclick="setRotation(180)" title="180">180</span>
                    <span class="btn" onclick="setRotation(270)" title="270">270</span>
                    <button type="submit">Save</button>
                    <a href="/home/image/@Model.Image" id="fullsizelink" target="_blank">full size</a>
                    <a href="/home/image/@Model.Image" id="originallink" target="_blank">original</a>
                    <a href="@Url.Content("~/home/index/")@Model.Image" id="link" target="_blank">link</a>
                </div>
                <div class="col-12">
                    <label class="col-form-label" for="rotationSlider">Angle Correction</label>
                    <input id="rotationSlider" data-slider-id='rotationSlider' type="text" />
                </div>
                <div class="col-12">
                    <label class="col-form-label" for="rightSlider">Crop Right</label>
                    <input id="rightSlider" data-slider-id='rightSlider' type="text" />
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-2">
                            <input id="topSlider" data-slider-id='topSlider' type="text" />
                            <label class="col-form-label" for="topSlider">Crop Top</label>

                        </div>
                        <div class="col-8">
                            <img id="theimage" src="home/image/@Model.Image" />
                        </div>
                        <div class="col-2">
                            <label class="col-form-label" for="bottomSlider">Crop Bottom</label>
                            <input id="bottomSlider" data-slider-id='bottomSlider' type="text" />
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <label class="col-form-label" for="leftSlider">Crop Left</label>
                    <input id="leftSlider" data-slider-id='leftSlider' type="text" />
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-sm-12">
            <img id="thethumb" src="/home/image/@Model.Image" />
            <div id="coords"></div>
            <ul>
                <li>@Model.Path</li>
                <li>FileCreationDateTime:@Model.FileDateTime;</li>
                <li>ExifDateTime:@Model.ExifDateTime;</li>
                <li>Width:@Model.Width;</li>
                <li>Height:@Model.Height;</li>
                <li>ISOSpeedRatings:@Model.ISOSpeedRatings;</li>
                <li>PixelXDimension:@Model.PixelXDimension;</li>
                <li>PixelYDimension:@Model.PixelYDimension;</li>
                <li>GPSAltitude:@Model.GPSAltitude;</li>
                <li>GPSLatitude:@Model.GPSLatitude;</li>
                <li>GPSLongitude:@Model.GPSLongitude;</li>
            </ul>
        </div>
    </div>

</form>
@section Scripts {
    <script src="~/js/home-index.js" asp-append-version="true"></script>
}