@{
    ViewData["Title"] = "Home Page";
}
@model PhotoArchive.Domain.ImageMetaData;
<style>
    body {
        background-color: slategray;
    }

    #leftSlider .slider-selection {
        background: #BABA00;
    }

    #rightSlider .slider-selection {
        background: #BABA00;
    }

    #topSlider .slider-selection {
        background: #BABA00;
    }

    #bottomSlider .slider-selection {
        background: #BABA00;
    }


    .slider-handle.custom {
        background: transparent none;
        /* You can customize the handle and set a background image */
    }

        /* Or display content like unicode characters or fontawesome icons */
        .slider-handle.custom::before {
            line-height: 40px;
            font-size: 40px;
            content: '\26AB'; /*unicode circle character*/
            color: #726204;
        }
</style>
<form id="imgform">
    <div class="text-left">
        <p class="font-weight-bold font-italic text-center">@Model.Path</p>
    </div>

    <div class="row">
        <div class="col-lg-7 col-sm-12">
            <div class="row">
                <div class="col-12">
                    <input id="rotVal" value="@Model.Rotate" style="display:none;" />
                    <span class="btn" onclick="setRotation(0)" title="0">0</span>
                    <span class="btn" onclick="setRotation(90)" title="90">90</span>
                    <span class="btn" onclick="setRotation(180)" title="180">180</span>
                    <span class="btn" onclick="setRotation(270)" title="270">270</span>
                    <button type="submit">Save</button>
                    <a href="/home/image/@Model.Image" id="fullsizelink" target="_blank">full size</a>
                    <a href="/home/image/@Model.Image" id="originallink" target="_blank">original</a>
                    <a href="@Url.Content("~/home/index/")@Model.Image" id="link" target="_blank">link</a>
                </div>
                <div class="col-12">
                    <label class="col-form-label" for="left">Crop Left</label>
                    <input id="leftVal" value="@Model.LeftCrop" style="display:none;" />
                    <input id="left" data-slider-id='leftSlider' type="text" data-slider-min="0" data-slider-max="@Model.Width" data-slider-step="1" data-slider-handle="custom" data-slider-value="@Model.LeftCrop" />
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-2">
                            <input id="topVal" value="@Model.TopCrop" style="display:none;" />
                            <input id="top" data-slider-id='topSlider' type="text" data-slider-min="0" data-slider-max="@Model.Height" data-slider-step="1" data-slider-handle="custom" data-slider-value="@Model.TopCrop" />
                            <label class="col-form-label" for="top">Crop Top</label>

                        </div>
                        <div class="col-8">
                            <img id="theimage" src="home/image/@Model.Image" />
                            <input id="Image" type="text" value="@Model.Image" style="display:none;" />
                        </div>
                        <div class="col-2">
                            <label class="col-form-label" for="bottom">Crop Bottom</label>
                            <input id="bottomVal" value="@Model.BottomCrop" style="display:none;" />
                            <input id="bottom" data-slider-id='bottomSlider' type="text" data-slider-min="0" data-slider-max="@Model.Height" data-slider-step="1" data-slider-handle="custom" data-slider-value="@Model.BottomCrop" />
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <label class="col-form-label" for="right">Crop Right</label>
                    <input id="rightVal" value="@Model.RightCrop" style="display:none;" />
                    <input id="right" data-slider-id='rightSlider' type="text" data-slider-min="0" data-slider-max="@Model.Width" data-slider-step="1" data-slider-handle="custom" data-slider-value="@Model.RightCrop" />
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-sm-12">
            <img id="thethumb" src="home/image/@Model.Image" />
            <div id="coords"></div>
            <ul>
                <li>FileCreationDateTime:@Model.FileDateTime;</li>
                <li>ExifDateTime:@Model.ExifDateTime;</li>
                <li>Width:@Model.Width;</li>
                <li>Height:@Model.Height;</li>
                <li>ISOSpeedRatings:@Model.ISOSpeedRatings;</li>
                <li>PixelXDimension:@Model.PixelXDimension;</li>
                <li>PixelYDimension:@Model.PixelYDimension;</li>
                <li>GPSAltitude:@Model.GPSAltitude;</li>
                <li>GPSLatitude:@Model.GPSLatitude;</li>
                <li>GPSLongitude:@Model.GPSLongitude;</li>
            </ul>
        </div>
    </div>

</form>
@section scripts {

    <script>
        var imgData={ };
        function setRotation(rot) {

            $("#rotVal").val(rot);
            changeImage();
        }
    function changeImage() {
        var img = document.getElementById("theimage");
        var fullsize = document.getElementById("fullsizelink")
        var original = document.getElementById("originallink")
        var rot = document.getElementById("rotVal").value;
        var leftcrop = document.getElementById("leftVal").value;
        var rightcrop = document.getElementById("rightVal").value;
        var topcrop = document.getElementById("topVal").value;
        var bottomcrop = document.getElementById("bottomVal").value;
        var screensize = "";
        if ($(window).width() < 1280) {
            screensize = "mobile";
        }


        var imgQuery = "?crop=" + leftcrop + "," + topcrop + "," + rightcrop + "," + bottomcrop + "&rot=" + rot;

        var root

        img.src = window.location.origin + "/home/image" + screensize + "/@Model.Image" + imgQuery;
        fullsize.href = window.location.origin + "/home/imagefull/@Model.Image" + imgQuery;
        original.href = window.location.origin + "/home/imagefull/@Model.Image";


    }

    $(document).ready(function () {

        changeImage();

        $('img').on("mousemove", function (e) {
            var offset = $(this).offset();
            var CX = Math.floor((e.pageX - offset.left));
            var CY = Math.floor((e.pageY - offset.top));

            var leftcrop = parseInt(document.getElementById("leftVal").value);
            var topcrop = parseInt(document.getElementById("topVal").value);
            var rightcrop = parseInt(document.getElementById("rightVal").value);
            var bottomcrop = parseInt(document.getElementById("bottomVal").value);

            var rot = parseInt(document.getElementById("rotVal").value);

            var screenwidth = $(this).width();
            var screenheight = $(this).height();

            var croppedwidth = rightcrop - leftcrop;
            var croppedheight = bottomcrop - topcrop;

            var fullwidth = parseInt("@Model.Width");
            var fullheight = parseInt("@Model.Height");

            var leftmargin = leftcrop;
            var topmargin = topcrop;

            var halfsize = 200;

            var tmpleftcrop = leftmargin + Math.floor((CX / screenwidth) * croppedwidth) - halfsize;
            var tmptopcrop = topmargin + Math.floor((CY / screenheight) * croppedheight) - halfsize;
            var tmprightcrop = leftmargin + Math.floor((CX / screenwidth) * croppedwidth) + halfsize;
            var tmpbottomcrop = topmargin + Math.floor((CY / screenheight) * croppedheight) + halfsize;


            if (rot == 90) {
                //rotate right
                tmpleftcrop = leftmargin + Math.floor((CY / screenheight) * croppedwidth) - halfsize;
                tmptopcrop = topmargin + Math.floor((screenwidth - CX) / screenwidth * croppedheight) - halfsize;
                tmprightcrop = leftmargin + Math.floor((CY / screenheight) * croppedwidth) + halfsize;
                tmpbottomcrop = topmargin + Math.floor((screenwidth - CX)/screenwidth * croppedheight) + halfsize;
            } else if (rot == 180) {
                tmpleftcrop = leftmargin + Math.floor((screenwidth - CX) / screenwidth * croppedwidth) - halfsize;
                tmptopcrop = topmargin + Math.floor(((screenheight - CY) / screenheight) * croppedheight) - halfsize;
                tmprightcrop = leftmargin + Math.floor((screenwidth - CX) / screenwidth * croppedwidth) + halfsize;
                tmpbottomcrop = topmargin + Math.floor(((screenheight - CY) / screenheight) * croppedheight) + halfsize;
            } else if (rot == 270) {
                tmpleftcrop = leftmargin + Math.floor(((screenheight - CY) / screenheight) * croppedwidth) - halfsize;
                tmptopcrop = topmargin + Math.floor(CX / screenwidth * croppedheight) - halfsize;
                tmprightcrop = leftmargin + Math.floor(((screenheight - CY) / screenheight) * croppedwidth) + halfsize;
                tmpbottomcrop = topmargin + Math.floor(CX / screenwidth * croppedheight) + halfsize;
            }

            if (tmpleftcrop < 0) { tmpleftcrop = 0; }
            if (tmprightcrop > fullwidth) { tmprightcrop = fullwidth; }
            if (tmptopcrop < 0) { tmptopcrop = 0; }
            if (tmpbottomcrop > fullheight) { tmpbottomcrop = fullheight; }

            var imgQuery = "?crop=" + tmpleftcrop + "," + tmptopcrop + "," + tmprightcrop + "," + tmpbottomcrop + "&rot=" + rot;

            //$('#coords').text(imgQuery);

            var img = document.getElementById("thethumb");
            img.src = window.location.origin + "/home/image/@Model.Image" + imgQuery;

        });

        $("#target").mouseup(function () {
            alert("Handler for .mouseup() called.");
        });

        $('#left').slider({
            formatter: function (value) {
                return 'Current value: ' + value;
            }
        });
        $("#left").on("slide", function (slideEvt) {
            $("#leftVal").val(slideEvt.value);
            changeImage();
        });
        $('#right').slider({
            formatter: function (value) {
                return 'Current value: ' + value;
            },

        });
        $("#right").on("slide", function (slideEvt) {
            $("#rightVal").val(slideEvt.value);
            changeImage();
        });
        $('#top').slider({
            orientation: 'vertical',
            formatter: function (value) {
                return 'Current value: ' + value;
            }
        });
        $("#top").on("slide", function (slideEvt) {
            $("#topVal").val(slideEvt.value);
            changeImage();
        });
        $('#bottom').slider({
            orientation: 'vertical',
            tooltip_position: 'left',
            formatter: function (value) {
                return 'Current value: ' + value;
            }
        });
        $("#bottom").on("slide", function (slideEvt) {
            $("#bottomVal").val(slideEvt.value);
            changeImage();
        });

        $("#imgform").submit(function (e) {
            // here's where you stop the default submit action of the form
            imgData.Image = $("#Image").val();
            imgData.Rotate = parseInt($("#rotVal").val());
            imgData.LeftCrop = parseInt($("#leftVal").val());
            imgData.TopCrop = parseInt($("#topVal").val());
            imgData.RightCrop = parseInt($("#rightVal").val());
            imgData.BottomCrop = parseInt($("#bottomVal").val());
            e.preventDefault();
            // Now execute your AJAX
            $.ajax({
                type: "POST",
                url: "/home/updateimage",
                data: JSON.stringify(imgData),
                dataType: 'json',
                contentType: 'application/json; charset=utf-8'
            }).done(function (response) {
                // handle a successful response
                Toast.create("Success", "Saved!", TOAST_STATUS.SUCCESS, 2500);
            }).fail(function (xhr, status, message) {
                // handle a failure response
                alert("boo");
            });
        });
    });
    </script>
}